* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#btn {
    background-color: #635985;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.4s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn:hover {
    background-color: #8172ae;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


.test {
    /* display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center; */
    display: none;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(90deg, #E5D1FA, #E3DFFD, #ECF2FF, #F9F5F6);
    color: white;
    /* position: relative; */
}

.container {
    width: 800px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock {
    width: 100%;
    height: 100%;
    background-color: #635985;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    -webkit-backdrop-filter: blur(100px);
}

.container::before {
    content: ' ';
    width: 150px;
    height: 150px;
    background: #FFF4D2;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}

.container::after {
    content: ' ';
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #393053;
    position: absolute;
    right: -50px;
    bottom: -50px;
    z-index: -1;
}

span {
    font-size: 80px;
    width: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
    font-weight: 800;
}

.clock span::after {
    font-size: 17px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);
}

#hrs::after {
    content: "HOURS";
}

#min::after {
    content: "MINUTES";
}

#sec::after {
    content: "SECONDS";
}