<!-- <div class="card p-2"  >
    <img src="{{item.img}}" class="card-img-top " alt="Laptop"/>
    <!-- *ngIf="show()" -->
    <div class="card-body" style="border-radius: 70px;">
        <div class="">
            <!--! day3 1  -->
            <div class="small">llrvt;v</div>
        </div>
        <div class="my-1">
            <h5 class="">blue</h5>
            <!--! day3 1  -->
            <h5 class="text-dark mb-0">Price : 15000</h5>
        </div>
        <div>
            <h5 class="text-primary" >We offer an explicit
                discount of: 5%</h5>
        </div >
        <!-- <div class="my-2" style="color:red;">
            <div *ngSwitchCase="0">Out of stock</div>
            <div *ngSwitchCase="1">one last item</div>
            <div *ngSwitchCase="2">last two items</div>
        </div> -->
        <div class="btn btn-outline-dark btn-light" >Add to cart</div>
    </div> -->